.animationsContainer {
  width: 980px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;

  &__library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(260px, auto);
    grid-gap: 24px;
  }
}

@media (max-width: 980px) {
  .animationsContainer {
    width: auto;
    padding: 0 24px;
  }
}
