// Reflex stylesheet

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Karla:400,700');

// Font variables //
$font-stack: 'Karla','Helvetica', sans-serif;
$monospace: 'Inconsolata', monospace;

// Color variables
$dark-gray: #565656;

$purple: #4552E3;
$purple-75: rgba($purple, .75);
$purple-50: rgba($purple, .50);
$purple-25: rgba($purple, .25);

$pink: #FF52EE;

// Text
body {
  font-family: $font-stack;
  font-weight: 400;
  color:  $dark-gray;
  font-size: 14px;
  line-height: 1.2
}

::selection, ::-moz-selection {
  background: $purple-25;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}


h3 {
  font-size: 18px;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  font-weight: 700;
}

// Layout
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
