body {
  padding: 20px;
  font-family: Helvetica;
}

.container {
  display: grid;
  grid-template-columns: 6px auto;
}

.tab-container {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px;
}

.active {
  color:  #4552E3;
}

.btn:hover {
  color:  #4552E3;
}

.marker {
  position: absolute;
  border-radius: 6px;
  width: 6px;
  height: 6px;
  background-color: #4552E3;
  transition: transform 500ms ease-in-out;
}

@keyframes slug {
  0% {padding:0;} 
  50% {padding-top: 2%;}}
