// notification
@keyframes notifyShake {
  15.56% {
    transform: rotate(7deg);
  }

  31.12% {
    transform: rotate(-6deg);
  }

  46.68% {
    transform: rotate(5deg);
  }

  62.24% {
    transform: rotate(-4deg);
  }

  77.8% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotatel(0deg);
  }
}

@keyframes badgeDisappear {
  100% {
    transform: scale(0);
  }
}

@keyframes badgePopIn {
  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// input error
@keyframes inputErrorShake {
  15.79% {
    transform: translateX(3px);
  }

  31.58% {
    transform: translateX(-5px);
  }

  47.37% {
    transform: translateX(4px);
  }

  63.18% {
    transform: translateX(-3px);
  }
  78.95% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-1px);
  }
}

// input success
@keyframes inputSuccessPopUp {
  37.5% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes inputSuccessPopIn {
  80% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// progress bar
@keyframes opacityPulse {
  50% {
    opacity: .6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loadProgressBar {
  0% {
    width: 0%;
  }

  8.33% {
    width: 20%;
  }

  25% {
    width: 20%;
  }

  33.33% {
    width: 50%;
  }

  66.67% {
    width: 50%;
  }

  75% {
    width: 90.90%;
  }

  91.67% {
    width: 90.90%;
  }

  100% {
    width: 100%;
  }
}

// crypto kitty
@keyframes kittyCardFadeIn {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes kittyCardScaleIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.94);
  }
}

@keyframes kittyCardScaleOut {
  0% {
    transform: scale(.94);
  }

  100% {
    transform: scale(1);
  }
}
