img {
  width: 500px;
  height: 500px;
  align-self: center; 
}

.customers__overlay {
  font-size: 100px;
  z-index: 1;
  position: absolute;
  opacity: 0;
  left: 0;
  text-align: center;
  top: 30%;
  width: 100%;
}

.customers__logos {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(4, 1000px);
  grid-template-rows:  repeat(2, 500px);
  grid-template-areas: 
    "top top top top "
    "bottom bottom bottom bottom";
  justify-content: center;
}

.logo {
  padding: 100px;
}

.customers__logos__top {
  grid-area: top;
  justify-self: center;
}

.customers__logos__bottom { 
  grid-area: bottom;
  justify-self: center;
}

.blurring {
  animation-name: blur;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes blur { 
  100% {
    filter: blur(5px);
    transform: scale(.95);
  }
}

.focusing {
  animation-name: focus;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes focus { 
  0% {
    filter: blur(5px);
    transform: scale(.95);
  }
  100% {
    filter: blur(0);
    transform: scale(1);
  }
}

.showing { 
  animation-name: show;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

@keyframes show { 
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.hiding { 
  animation-name: hide;
  animation-duration: 200ms;
}

@keyframes hide { 
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
  
}