img {
  height: 60px;
  max-width: 120px;
  align-self: center; 
}

.customers {
  display: flex;
  text-align: center;
  width: 900px;
  margin: 0 auto;
  cursor: pointer;
}

.customers__overlay {
  font-size: 100px;
  z-index: 1;
  position: absolute;
  opacity: 0;
  margin: auto;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #737373;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;

  display: flex;
}

.customers__logos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 24px;
}

.arrow {
  height: 22px;
  width: 22px;
  padding: 0 6px;
}

.blurring {
  animation-name: blur;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes blur { 
  100% {
    filter: blur(5px);
    transform: scale(.95);
  }
}

.focusing {
  animation-name: focus;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes focus { 
  0% {
    filter: blur(5px);
    transform: scale(.95);
  }
  100% {
    filter: blur(0);
    transform: scale(1);
  }
}

.showing { 
  animation-name: show;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

@keyframes show { 
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.hiding { 
  animation-name: hide;
  animation-duration: 200ms;
}

@keyframes hide { 
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
  
}