
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Karla:400,700');
@import url('https://rsms.me/inter/inter-ui.css');

// Font variables //
$font-stack: 'Inter UI','Helvetica', sans-serif;
$monospace: 'Inconsolata', monospace;

// Color variables
$dark-gray: #565656;
$light-gray: #EEEEEE;

$purple: #4552E3;
$purple-75: rgba($purple, .75);
$purple-50: rgba($purple, .50);
$purple-25: rgba($purple, .25);

$pink: #FF52EE;
$red: #EE4444;
$green: #66BB66;
$white: #FFFFFF;
