.nav__container {
  width: 100%;
  box-shadow: 0 3px 8px rgba(130, 130, 130, .25);
  background-color: #FAFAFA;

  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    height: 60px;
    grid-area: nav;
    margin: auto;

    .nav__left {
      display: flex;
      align-items: center;
      margin-left: 18px;

      .logo img {
        width: 24px;
        height: auto;
        margin-right: 12px;
      }

      .title {
        margin-right: auto;
        padding-left: 6px;
        font-weight: 400;
        font-size: 16px;
      }
    }

    .nav__right {
      grid-template-columns: 1fr 1fr;
      font-size: 14px;
      color: #979797;
      display: flex;
      align-items: center;

      .nav__item {
        cursor: pointer;
        margin: 18px;
        text-align: center;

        img {
          width: 16px;
          height: auto;
          margin-right: 6px;
          vertical-align: middle;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .nav {
    .title {
      visibility: hidden;
    }
    .nav__right {
      visibility: hidden;
    }
  }
}

@media (max-width: 1024px) {
  .nav {
    width: 100%
  }
}
