.nav {
  box-shadow: 0 2px 3px rgba(130, 130, 130, .25);

  .flex {
    height: 70px;
    width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

      .logo img {
        width: 30px;
        height: auto;
      }

      .title {
        margin-right: auto;
        padding-left: 12px;
        width: 1
      }

      .github {
        cursor: pointer;

        img {
          width: 18px;
          height: auto;
        }
      }
  }
}

@media (max-width: 980px) {
  .nav {
    padding: 0 24px;

    .flex {
      width: auto;
    }
  }
}
