.container {
    padding: 100px;
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 30px;
    overflow:hidden;
}

.box {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    overflow: hidden
}

.box__picture {
    height: 400px;
}

.box__title {
    height: 100px;
}

.fadeIn { 
    visibility: hidden;
    animation-name: fadeIn, moveUp;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    animation-timing-function: ease-in-out; 
}

.fadeIn--delay1 {
    animation-delay: 200ms, 200ms;
}

.fadeIn--delay2 {
    animation-delay: 400ms, 400ms;
}

.fadeIn--delay3 {
    animation-delay: 600ms, 600ms;
}

.fadeIn--delay4 {
    animation-delay: 800ms, 800ms;
}


.line {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    height: 10px;
    overflow: hidden
}

.shimmer { 
    width: 100%; 
    animation-name: shimmer;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.shimmer--delay1 { 
    animation-delay: 200ms;
}

.shimmer--delay2 { 
    animation-delay: 400ms;
}

.shimmer--delay3 { 
    animation-delay: 600ms;
}

.shimmer--delay4 { 
    animation-delay: 800ms;
}

.shimmer__bar {
    height: 8px;
    width: 100px; 
    background:#565656;
}

@keyframes shimmer {
    0% {
        transform: translateX(0%);
    }
    
    /* Force delay between iterations */
    50%, 100% {
        transform: translateX(100%);
    }
  }



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0%);
    }
}